.section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5% 15%;
  &:nth-of-type(1){
    padding: 10% 0 8% 10%;
    background-image: url("../../src/img/background__top.svg");
    background-position: 0 140%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:nth-of-type(2){
    flex-direction: column;
  }
  h1{
    color: $white;
    font-size: 6vmin;
  }
  h2{
    color: $dark;
    font-size: 5vmin;
  }
  h3{
    color: $dark;
    font-size: 3vmin;
    margin-top: 5%;
  }
  h4{
    color: $dark;
    font-size: 5vmin;
  }
  p{
    color: $text;
    font-size: 2.5vmin;
  }
  &__firstscreen{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__description{
    width: 40%;
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
  }
  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    img{
      transition: .4s;
      &:hover{
        transform: rotate(360deg);
      }
    }
  }
  &__bigdiagram{
    width: 50%;
    padding: 3%;
    box-sizing: border-box;
    background: $white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px #c9c9c9;
    transition: .5s;
    &:hover{
      box-shadow: 2px 2px 25px 0px $dark;
    }
    h3,p{
      margin: 0;
    }
    p{
      float: right;
    }
  }
  &__smalldiagrams{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    padding: 3%;
    margin-right: -5%;
    box-sizing: border-box;
    background: $white;
    border-radius: 20px;
    box-shadow: 10px 10px 34px 0px rgba(138,138,138,1);
  }
  &__smalldiagram{
    margin-bottom: 5%;
    width: 33%;
    &:nth-last-of-type(-n+3){
      margin-bottom: 0;
    }
  }
  &__aheaddiagram{
    position: absolute;
    transform: translate(-30%, 20%);
    padding: 20px;
    background: $white;
    border-radius: 20px;
    box-shadow: 7px 7px 25px 0px rgba(138,138,138,1);
    p{
      margin: 0;
    }
  }
  &__heading{
    text-align: center;
  }
  &__button{
    padding: 2% 7%;
    background: $orange;
    border: 2px solid $orange;
    color: $white;
    border-radius: 50px;
    transition: .3s;
    &:hover{
      background: inherit;
      color: $white;
      border: 2px solid $white;
    }
  }
}
.section_revert{
  flex-direction: row-reverse;
}
